beautifulsoup4==4.10.0
cachelib==0.7.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
extruct==0.13.0
Flask==2.0.2
Flask-MySQLdb==1.0.1
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
html-text==0.5.2
html5lib==1.1
idna==3.3
isodate==0.6.1
itsdangerous==2.0.1
Jinja2==3.0.2
jstyleson==0.0.2
lxml==4.9.0
MarkupSafe==2.0.1
mf2py==1.1.2
mysqlclient==2.1.0
pygsearch==0.5.1
pyparsing==3.0.9
pyRdfa3==3.5.3
rdflib==6.1.1
rdflib-jsonld==0.6.2
recipe-scrapers==14.3.0
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.37
urllib3==1.26.7
w3lib==1.22.0
webencodings==0.5.1
Werkzeug==2.0.2
